
torch
torchvision
torchaudio
transformers
datasets
soundfile
librosa
accelerate
scipy
matplotlib
seaborn
psutil
joblib
streamlit
pyngrok
audio-recorder-streamlit
streamlit-audiorec
scikit-learn
pandas
numpy
